* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    background-color: rgb(55, 53, 131);
    color: aliceblue;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.apresentacao {
    display: flex;
    flex-direction: row;
    align-items: center;    
    margin: 10%;
    justify-content: space-between;
    flex-wrap: wrap;
}
.foto-cosplay {
    height: 40vh;
    border: solid #000000 2px;
    border-radius: 20px;
    padding: 1em 1em 0 0 ;
    background-color: #6A947C;
}
.apresentacao_conteudo {
    display: flex;
    flex-direction: column;
    width: 615px;
}
.apresentacao_conteudo_titulo {
    color: rgb(185, 219, 34);
    font-size: 36px;
}

.titulo-destaque {
    color: #4C49DA;
    font-weight: bold;
}
.apresentacao_conteudo_texto {
    font-size: 24px;
}


