@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Press+Start+2P&display=swap');

* {
    margin: 0;
    padding: 0;

}

body {
    height: 100vh;
    background-color: rgb(0, 0, 0);
    color: aliceblue;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-family: "Inter", sans-serif;
}

.cabecalho {
    padding: 2% 0 0 15%;
}
.cabecalho_menu {
    display: flex;
    gap: 80px;
}
.cabecalho_menu_link {
    font-size: 24px;
    font-weight: 600;
    color: #19F781;
}

.apresentacao {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 10%;
    justify-content: space-around;
    gap: 40px;
    flex-wrap: wrap;

}

.foto-cosplay {

    width: 480px;
    border: solid #000000 2px;
    border-radius: 20px;
    padding: 1em 1em 0 0;
    background-color: #19F781;

}

.apresentacao_conteudo {
    display: flex;
    flex-direction: column;
    width: 480px;

}

.apresentacao_conteudo_titulo {
    color: aliceblue;
    font-size: 36px;
}

.titulo-destaque {
    color: #4C49DA;
    font-weight: bold;

}

.apresentacao_conteudo_texto {
    font-size: 18px;
}

.apresentacao_links {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    margin: 2em 0 0 0;
    gap: 20px;
}
.apresentacao_links_titulo {
    font-weight: 400;
    font-size: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.apresentacao_links_link {
    display: flex;
    justify-content: center;
    background-color: #000000;
    color: aliceblue;
    width: 250px;
    text-align: center;
    border: 3px solid #19F781;
    border-radius: 15px;
    font-size: 22px;
    font-weight: 600;
    padding: 14px 0;
    text-decoration: none;
    font-family: "Inter", sans-serif;
}

.link_favicon {
    width: 25px;
}

/* a:hover {
    
} */
.apresentacao_links_link:hover {
    border-color: rgb(255, 255, 255);
}

.rodape {
    padding: 24px;
    color: rgb(0, 0, 0);
    background-color: #19F781;
    text-align: center;
    font-weight: 400;
    font-size: 24px;

}